.color-black{
	color:$black;
}
.color-white{
	color:$white;
}
.sprite-background{
	background-image : url("../images/icon_sprite.png");
	background-repeat: no-repeat;
	content: "";
	
}
.sprite-social-icons{
	background-image : url("../images/social_icons.png");
	background-repeat: no-repeat;
	content: "";
	
}