/*color variables*/
$white : #ffffff;
$black : #000000;
$blue-turquise : #3399cc;
$grey : #636363;



/*font family*/
$font-raleway : "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;

/*font sizes*/
$font-14 : 14px;