footer,.footer{
	text-transform: uppercase;	
	clear: both;
	.container {
		>.row{
		border-top:	1px solid #cccccc;
		margin: 30px 0 0 0;
		}
		.footer-links{
			margin-top: 30px;
			>ul{
				// border-top:	1px solid #cccccc;
				// padding-top: 10px;
				ul{
					margin-top: 7px;
				}
			}
		}
		.footer-links li{
			line-height: 1.4;
			padding: 3px 0;
			a{
				color: $grey;
				font-size: 12px;
				&:hover{
					color: $blue-turquise
				}
			}
			span{
				color:$blue-turquise;
				border-top: 1px solid #cccccc;
			    display: block;
			    margin: 0 40px 0 1px;
			    padding-top: 10px;
			   
			}
		}
		.footer-links li.social-links
		{
			li a{
				margin-left: 22px;				
			}
			 li a:before{			
		  	@extend .sprite-social-icons;
	        position: absolute;
	        height:15px;
	        width:15px;
	        margin: 0 0 0 -24px;
	        z-index:100;
			}
			li{
				&.fb a:before{background-position: 0px 4px;}
				&.fb a:hover:before{background-position: -25px 4px;}

				&.tw a:before{background-position: 0px -20px;}
				&.tw a:hover:before{background-position: -25px -20px;}

				&.yt a:before{background-position: 0px -45px;}
				&.yt a:hover:before{background-position: -25px -45px;}

				&.pin a:before{background-position: 0px -72px;}
				&.pin a:hover:before{background-position: -25px -72px;}

				&.rss a:before{background-position: 0px -95px;}
				&.rss a:hover:before{background-position: -25px -95px;}
			}
		}
	}
	.newsletter{
		.newsletter-label{
			padding-top: 0;
			color:$blue-turquise;
				// border-top: 1px solid #cccccc;
			    display: block;
			    margin: 0 40px 0 1px;
			    padding-top: 10px;
			    		    
			}
		.input-group{
			margin: 10px 0 0 0;
			.btn-primary{
				background-color: $blue-turquise;
				border-radius: 0;
			}
		}
	}
	.copyrights{
		border-top: 1px solid #cccccc;
		color: $blue-turquise;
		padding: 30px 0;
		margin-top: 10px;
		font-size: 11px;
	}
}