header,.header{
	
	text-transform:uppercase;
	font-family:$font-raleway;
	font-size:$font-14;
	.header-bar{
		color:$white;
		background-color:$blue-turquise;
		padding:8px;
		select{
			color:$grey;
			border:0;
			text-transform:uppercase;
		}
	}
	.header-main{

		a.logo{
			padding:10px;
			display:inline-block;
		}
		.acount-links ul{
			margin : 10px 0 20px 0;
		}
		.acount-links ul li{
			padding: 0 0 0 16px;
		}
		.acnt-link:before{
			@extend .sprite-background;
		    background-position: 0 -49px;
		    display: inline-block;
			width: 29px;
		    height: 25px;
		    float: left;
		    
		}
		.acnt-link{
			padding: 0 0 0 10px;
		}
		.cart-link:before{
			@extend .sprite-background;
		    background-position: 0 -101px;
		    display: inline-block;
			width: 29px;
		    height: 25px;
		    float: left;
		    
		}
		.cart-link{
			padding: 0 0 0 10px;
		}
		
		.acount-links a span{
			color: $grey;
		}

	}
	.header-account-section{
		width: 25%;
		a:hover{
			span{
				color: $blue-turquise;	
			}
			text-decoration:none;
			}
			
		.search{
			width:100%;
			position: relative;
		}
		.search input{
			border:1px solid silver;
			padding:5px;
			width:100%;
			border-radius: 2px;
			font-size: 15px;
			line-height: 2;
			color: #636363;
		}
		.search span:after{
        @extend .sprite-background;
        position: absolute;
        height:32px;
        width:32px;
        margin: -30px 0 0 -10px;
        z-index:100;
        right: 0;
        background-position: 0px -150px;
    	}
	}
	.header-nav{
		// display: block; 
		overflow: hidden;
		border-bottom: 1px solid #ededed;
		margin-bottom: 20px;
		 ul li a{
			padding-left: 25px;
			padding-right: 25px;
			color: #636363;
		}
	}

}